.header_logo__ {
  // min-width: 86px;
  max-width: 98px;
  min-width: 98px;
  min-height: 98px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  z-index: 100;
  flex-basis: content;
  position: relative;
  box-shadow: $mainShadowColor;
  
  // @include sm {
  //   max-width: 80px !important;
  //   min-width: 80px !important;
  //   max-height: 80px !important;
  //   min-height: 80px !important;
  // }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}