// nav-om -large sizes
.nav-om {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: visible;
  padding-inline-end: 37px;
  gap: 40px;
  width: 100%;

  .bg_icon_svg__ {
    position: absolute;
    width: 103%;
    height: 100%;
    inset-inline-end: 0;
    filter: drop-shadow($mainShadowColor);
    z-index: -2;

    @include dir {
      transform: scaleX(-1);
    }

    @include sm {
      opacity: 0;
    }
  }

  @include md {
    gap: 15px;
  }

  @include dir {
    gap: 20px;
  }

  .close-button__,
  .nav_logo__ {
    display: none;
  }

  .nav-list-om {
    display: flex;
    margin-bottom: 0;

    @include md {
      padding: 0;
    }

    > li {
      cursor: pointer;
      position: relative;

      > a {
        font-size: 14px;
        font-weight: 700;
        color: $headingMainColor;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        text-decoration: none;
        transition: 0.5s;
        padding: 42px 10px;
        position: relative;
        display: block;
        margin: 0;
        text-align: start;
        max-height: 101px;

        @include md {
          font-size: 12px;
          padding: 42px 5px;
        }

        @include dir {
          font-size: 12px;

          @include md {
            font-size: 10px;
          }

          @include sm {
            font-size: 14px;
          }
        }

        &:hover {
          color: $primaryColor;
        }
      }

      &.active {
        > a {
          font-size: 15px;
          font-weight: 700;
          color: $primaryColor;

          &::before {
            content: "";
            position: absolute;
            background-color: $primaryColor;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            transition: 0.5s;
          }

          &:hover {
            color: #fff;

            &:before {
              background-color: $primaryColor;
              height: 100%;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}

// nav-om  sm - xs size
@include sm {
  .nav-om {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    z-index: 99999;
    padding: 20px;
    transition: 0.5s;
    overflow-y: auto;
    display: block;
    padding-top: 90px;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .nav_logo__ {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      filter: brightness(0) invert(1);

      min-width: 200px;

      img {
        max-width: 100%;
      }
    }

    .close-button__ {
      display: block;
      filter: brightness(0) invert(1);
    }

    @include dir {
      left: -100%;
      right: unset;
    }

    &.active-menu {
      right: 0;

      @include dir {
        left: 0;
        right: unset;
      }
    }

    .nav-list-om {
      display: block;
      order: 3;
      width: 100%;
      margin: 0;
      padding: 0;

      @include dir {
        margin: 0;
        padding: 0;
      }

      > li {
        > a {
          color: #fff !important;
          padding: 10px 25px;
          display: block;
          margin: 0;
          font-size: 14px;

          &::after {
            content: none;
            display: none;
          }

          @include dir {
            margin: 0;
          }

          &:hover {
            background-color: transparent;
          }
        }

        a {
          border-radius: 0 !important;
        }

        &.active {
          a {
            color: $primaryColor;
            font-size: 14px;
            font-weight: 700;

            &::after,
            &::before {
              display: none;
            }
          }
        }

        &:nth-child(odd) {
          > a {
            background-color: rgba(#fff, 0.2);
          }
        }
      }
    }
  }
}
