// dropdown menu
.dropdown__ {
  position: relative;

  > a,
  .butt__ {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    color: $headingMainColor;
    font-size: 14px;
    width: 100%;

    .icon__ {
      // position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
      // inset-inline-end: 15px;
      margin-inline-start: auto;
      filter: grayscale(1);
      // flex-shrink: 0;
      // flex-grow: 1;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .sub-menu__ {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    display: table;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #fff;
    z-index: 999;
    width: 100%;
    padding: 10px 0;
    border: none;
    transform-origin: center 0;
    visibility: hidden;
    opacity: 0;
    border-radius: 0;
    transform: translateX(-50%);
    box-shadow: $mainShadowColor;
    transition: 0.5s;
    
    @include sm {
      min-width: 100%;
    }
    
    &.nav_drop_down_menu {
      width: 225px;
      left: unset;
      transform: unset;
      inset-inline-start: 0;
      top: calc(100% - 17px);
      padding: 15px 0 0;

      .nav_drop_down_menu_section__ {
        list-style: none;
        padding: 15px 25px;

        &:not(:last-of-type) {
          border-bottom: 1px solid $borderColor;
        }
      }

      .section_head__ {
        font-size: 12px;
        font-weight: 400;
        color: $headingSecondaryColor;
        margin-bottom: 5px;
      }
    }

    li {      
      a,
      .list_content__ {
        font-size: 14px;
        font-weight: 400;
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        color: $headingMainColor;
        padding: 6px 23px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;

        &::before {
          margin-inline-end: 10px;
        }

        &.modify_my_data__ {
          &::before {
            content: url(../images/shapes/modify_my_data__.svg);
          }
        }

        &.change_password__ {
          &::before {
            content: url(../images/shapes/change_password__.svg);
          }
        }


        &.signout_link__ {
          border: none;
          background-color: transparent;
          color: $mainRedColor;

          &:focus,
          &:active {
            border: none;
            outline: none;
          }


          &::before {
            content: url(../images/shapes/logout.svg);
          }
          
          &:hover {
            color: $mainRedColor;
            &::before {
              filter: unset;
            }
          }
        }

        &:hover {
          text-decoration: none;
          color: $primaryColor;

          &::before {
            filter: invert(63%) sepia(43%) saturate(638%) hue-rotate(156deg) brightness(89%) contrast(94%);
          }
        }
      }
    }
  }

  &:hover {
    .sub-menu__ {
      visibility: visible;
      opacity: 1;
      z-index: 111;
      border-radius: $mainBorderRadius;

    }
  }
}

@include sm {
  .dropdown__ {
    > a,
    .butt__ {
      color: #fff;
      font-size: 14px;
      background-color: rgba(#fff, 0.2);
      height: 49px;
      padding: 0 10px;
      border-radius: 13px;

      .icon__ {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-end: 15px;
        filter: brightness(0)invert(1);
      }
    }

  }
}