.menu_button__ {
  display: none;

  @include sm {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($primaryColor, 0.2);
    position: relative;
    width: 40px;
    height: 40px;
    color: $primaryColor;
    border-radius: 50%;

    svg {
      width: 20px;

      path {
        fill: $primaryColor;
      }
    }
  }
}

.lang_link__ {
  margin-inline-start: 5px;
  height: 48px;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  gap: 10px;
  color: $headingMainColor;

  .figure__ {
    flex-grow: 1;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .icon__ {
    background-color: rgba($primaryColor, 0.09);
    border-radius: 50%;
    height: 33px;
    width: 33px;
  }

  @include xs {
    .reload_icon__ {
      display: none;
    }
  }

  @include xxs {
    padding-inline-end: 20px;
    .lang_title__ {
      display: none;
    }
  }

  &:hover {
    text-decoration: none;
    color: $primaryColor ;

    .figure__ {
      filter: unset;
    }
  }
}
// large sizes

.toolbar_options__ {
  display: flex;
  align-items: center;
  padding: 0;
  // position: relative;
  z-index: 1;
  // margin-top: 10px;
  flex-wrap: nowrap;

  .block__ {
    transition: 0.5s;

    &.info_link_item__ {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 266px;
      height: 46px;
      background-color: rgba($primaryColor, 0.06);
      border-radius: $thirdBorderRadius;
      padding: 13px 20px;

      @include sm {
        min-width: 100%;
        padding: 0;
      }
      
      .info_link_block__ {
        position: relative;
        color: $primaryColor;
        font-size: 12px;
        font-weight: 400;

        .user_name__ {
          font-weight: 800;
        }

        .user_img {
          padding: 0;
          width: 24px;
          height: 24px;
          max-width: 24px;
          max-height: 24px;
          border-radius: 50%;
          overflow: hidden;
          margin-inline-end: 15px;
        }

        .arrow_icon__ {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          inset-inline-end: 0;
        }

        &::after {
          display: none;
        }
      }
    }

    &.search_link_item__ {
      display: none;
    }
  }
}

// small size
@include sm {
  .toolbar_options__ {
    // margin-top: 20px;
    width: 100%;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;

    .block__ {
      &.lang_list_item__ {
        position: absolute;
        top: 15px;
        inset-inline-start: 15px;
        min-width: 45px;
        order: 3;

        .icon__,
        .figure__ {
          filter: brightness(0) invert(1) !important;
        }
      }

      &.info_link_item__ {
        .info_link_block__ {
          color: #fff !important;

          .icon__ {
            margin-inline-end: 15px;
          }
        }
      }

      &.sing_up_blocks_list_item__ {
        min-width: 100%;
      }
      
    }
  }
}
