.about_us_page__ {
  .parag__ {
    font-size: 17px;
    font-weight: 400;
    color: $headingMainColor;
    margin: 0;
    line-height: 28px;

    @include xs {
      font-size: 14px;
    }
  }

  .our_message_and_vision_cards_wrapper__ {
    margin-top: 70px;
    
    @include sm {
      margin-top: 40px;
    }
    
    @include xs {
      margin-top: 20px;
    }
  }
}