.civil_tech_page__{
  .parag_head__ {
    font-size: 18px;
    font-weight: 400;
    color: $headingMainColor;
    margin-bottom: 28px;
  }

  .parag__ {
    font-size: 16px;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 33px;
  }
}