.course_page__ {
  .figure__ {
    padding-bottom: 108.10%;
  }

  .page_main_title__ {
    margin-bottom: 27px;
  }

  .price_wrapper__ {
    margin-bottom: 23px;
  }

  .head_parag__ {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 28px;
  }
  
  .parag__ {
    font-size: 16px;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 58px;
  }
}