.default_page__ {
  padding-top: 160px !important;
  padding-bottom: 80px !important;

  @include sm {
    padding-top: 120px !important;
    padding-bottom: 40px !important;
  }

  @include sm {
    padding-bottom: 30px !important;
  }
}

// section defaults
.default_section__ {
  padding: 100px 0;

  @include sm {
    padding: 40px 0;
  }

  @include xs {
    padding: 20px 0;
  }
}


.row_modify {
  display: flex;
  align-items: center;

  @include md {
    justify-content: center;
  }

  &.with_row_gap {
    row-gap: 30px;
    
    @include xs {
      row-gap: 15px;
    }
  }

  &.with_second_row_gap {
    row-gap: 50px;
  }
  
  &.with_margin {
    margin-bottom: 30px;
  }
  
  &.reverse_dir_column_small_size {
    @include sm {
      gap: 20px;
      flex-direction: column-reverse;
    }
  }

  &.justify_between__ {
    justify-content: space-between;
  }
}

.col_start__ {
  align-self: flex-start;
}

.col_center__ {
  align-items: center;
}

.col_flex {
  display: flex;
}

