.home_slider_section {
  position: relative;
  margin-top: 78px;

  .main_slider_figure__ {
    position: relative;
    padding-bottom: 42.5%;
    
    @include md {
      padding-bottom: 50%;
    }

    @include xs {
      padding-bottom: 100%;
    }

    &:after {
      position: absolute;
      content: "";
      background: linear-gradient(
        to top,
        $headingMainColor,
        rgba($primaryColor, 0.22)
      );
      width: 100%;
      height: 100%;
    }
  }

  .slider_content {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 510px;

    @include xs {
      min-width: 100%;
    }
  }

  .slider_title__ {
    color: #fff;
    font-weight: 700;
    font-size: 33px;
    margin-bottom: 15px;
    text-align: center;

    @include sm {
      font-size: 25px;
    }

    @include xs {
      font-size: 16px;
    }
  }

  .slider_parag__ {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 23px;
    text-align: center;
    
    @include sm {
      font-size: 12px;
    }

    @include xxs {
      font-size: 10px;
    }
  }
}

.registration_requirements_section {
  background-color: $primaryColor;
  padding: 75px 0 55px;
  position: relative;

  .figure__ {
    padding-bottom: 85.82%;
  }

  .section_main_title__ {
    color: #fff;
  }

  .parag__ {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
    line-height: 24px;

    @include sm {
      font-size: 14px;
    }
  }

  .registration_requirements_text_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;

    @include xs {
      flex-wrap: wrap;
    }

  }

  .registration_requirements_text__ {
    width: calc(50% - 8px);

    @include xs {
      width: 100%;
    }
  }

  &::before {
    content: url(../images/shapes/registration_requirements_section_shape.svg);
    position: absolute;
    top: 0;
    inset-inline-start: -43px;
  }

  &.registration_requirements_page {
    background-color: rgba($primaryColor, 0.7);
  }
}

.offers_section {
  background-color: $greyColor;
}

.contact_us_section {
  background-color: rgba($primaryColor, 0.05);

  .block_title__ {
    font-size: 18px;
    font-weight: 400;
    color: $primaryColor;
    margin-bottom: 40px;
    
    @include sm {
      margin-bottom: 20px;
    }
    
    @include xs {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }

  .map__ {
    border-radius: 21px;
    border: 6px solid #fff;
    margin-top: 12px;
    width: 100%;
    height: 196px;
    border-top-width: 8px;
    border-bottom-width: 8px;
  }
}
