.offer_page__ {
  .main_page_photo__ {
    padding-bottom: 91.89%;
    border-radius: $mainBorderRadius;
    overflow: hidden;
  }

  .head_wrapper__ {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .price__  {
    margin-bottom: 10px;
  }

  .old_price__ {
    font-size: 21px;
  }

  .parag__ {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: $paragraphMainColor;
    margin-bottom: 45px;
  }
}