.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  background-color: $primaryColor;
  padding: 80px 50px;

  @include xs {
    padding: 30px 20px;
  }
}

.footer_content__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;


  @include md {
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
}

.footer_logo__ {
  width: 300px;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: $mainBorderRadius;
  flex-shrink: 0;

  @include md {
    min-width: 100px;
  }

  @include sm {
    margin-bottom: 20px;
  }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}

.footer_list__ {
  padding: 0;
  display: grid;
  margin: 20px 0;
  grid-template-columns: repeat(2 , 1fr);
  row-gap: 10px;
  column-gap: 25px;
  width: 100%;
  
  // @include xxs {
  //   grid-template-columns: repeat(1, 1fr);
  // }



  li {
    width: 100%;
    display: flex;

  }

  a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 8px;

    @include sm {
      justify-content: center;

      @include dir {
        font-size: 12px;
      }
    }

    @include xs {
      font-size: 14px;
      justify-content: flex-start;
    }
    

    &:hover {
      padding-inline-start: 10px;
      color: $secondaryColor;
    }

    &::before {
      content: '';
      width: 14px;
      height: 14px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }
}

.footer_head_title__ {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 23px;
}

.socials_copyrights_wrapper__ {
  flex-shrink: 0;
}

.footer_socials__ {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  padding: 0;
  gap: 15px;

  @include xs {
    gap: 7px;
  }

  @include dir {
    gap: 5px;
  }

  .li__ {
    &:not(:last-child) {
      margin-inline-end: 13px;
    }

    @include xxs {
      &:not(:last-child) {
        margin-inline-end: 5px;
      }
    }
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 38px;
    transition: 0.5s;
    border-radius: $fourthBorderRadius;
    padding: 8px;
    border: 1px solid rgba(#fff, 0.28);

    img {
      filter: none;
    }

    &:hover {
      background-color: rgba(#fff, 0.4);
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  border: 0;

  @include sm {
    padding: 20px 0;
    justify-content: center;
  }

  @include xxs {
    font-size: 8px;
  }

  @include dir {
    font-size: 9px;
  }

  .copyright_icon__ {
    margin-inline-end: 10px;
    @include xxs {
      margin-inline-end: 5px;
    }
  }

  .copyright_logo__ {
    width: 90%;
    margin-inline-start: 10px;
    
    @include xxs {
    margin-inline-start: 5px;
    }
  }

  .maasader_logo {
    width: 33%;
  }
}
