@import "header/dropdown";
@import "header/login_buttons";
@import "header/1_logo";
@import "header/2_navbar";
@import "header/toolbar_options";

.main_header__ {
  max-height: 110px;
}

.fixed_header__ {
  position: relative;
  z-index: 2000;
  margin-top: -25px;

  @include sm {
    margin-top: -10px !important;
  }

  &.active_menu__,
  &.not_active_menu__ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    transition: 0s;
    padding: 10px 0 0;
    height: fit-content;

    .bg_icon_svg__ {
      display: none;
    }

    .header_content__,
    .header_logo__ {
      background-color: transparent;
      box-shadow: unset;
      padding: 0 !important;
    }
  }

  &.active_menu__ {
    animation: active-menu 0.5s;
    background-color: transparent;
    box-shadow: $mainShadowColor;
    background-color: #fff;
  }

  &.not_active_menu__ {
    animation: not-active-menu 0.5s;
    // transform: translateY(-100%);
    top: -200px;
  }

  .header_content__ {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm {
      background-color: #fff;
      border-radius: 30px 100px 100px 30px;
      box-shadow: $mainShadowColor;
      padding-inline-end: 30px;
    }
  }

  @keyframes active-menu {
    0% {
      // transform: translateY(-100%);
      top: -200px;
    }

    100% {
      // transform: translateY(0);
      top: 0;
    }
  }

  @keyframes not-active-menu {
    0% {
      // transform: translateY(0);
      top: 0;
    }

    100% {
      // transform: translateY(-100%);
      top: -200px;
    }
  }
}


.lang_link_contacts_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 35px;
  
  @include sm {
    padding: 15px 0 25px;
  }

  .header_contacts_wrapper__ {
    display: flex;
    align-items: center;
    gap: 20px;

    @include sm {
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;

      a {
        width: calc(50% - 5px);
      }
    }
  }
}
