// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  transition: 0.5s;
  background-color: transparent;
  border: 1px solid rgba($primaryColor ,0.8);
  position: relative;
  background-color: $primaryColor;

  &.swiper-button-disabled {
    background-color: transparent;
    &::after {
      content: url("../images/shapes/slider_arrow.svg");
      filter: unset;
    }
    opacity: 1;
  }
  
  &::after {
    content: url("../images/shapes/slider_arrow.svg");
    display: block;
    position: static;
    // height: 100%;
    // width: 100%;
    width: 10px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: unset;
    margin-top: -18px;
    transform: rotateY(180deg);
    filter: brightness(0) invert(1);

    @include dir {
      transform: unset;
    }
  }
}

.swiper-button-next {
  &::after {
    transform: rotateY(0);

    @include dir {
      transform: rotateY(-180deg);
    }
  }
}

// swiper-pagination
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  margin-top: 15px;
  // margin-inline-start: 144px;
  gap: 3px;
  width: 100%;

  &.intro_pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    
    @include sm {
      margin-top: 20px;
      max-width: 100%;
    }
  }

  &.fit_content_width__ {
    width: fit-content;
  }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  border-radius: 24px;
  background-color: rgba($secondaryColor, 0.45);
  opacity: 1;
  width: 11px;
  height: 5px;
  margin: 0 !important;
  
  &.swiper-pagination-bullet-active {
    background-color: $secondaryColor;
    border-radius: 24px;
    width: 21px;
  }
}

// ###################################################################

.arrow-sec {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  height: 40px;
  padding: 0 !important;
  gap: 8px;

  .swiper-button-next,
  .swiper-button-prev {
    position: unset !important;
    bottom: unset !important;
    top: unset !important;
    transform: unset !important;
  }

  &.center__ {
    justify-content: center;
  }
}