.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 26px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }

  &.main_link {
    background-color: $primaryColor;
    color: $headingMainColor;
    height: 52px;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 20px;

    &:hover {
      background-color: rgba($primaryColor, 0.85);
    }
  }

  &.full_width__ {
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.margin_inline_start_auto__ {
    margin-inline-start: auto;
  }

  &.center__ {
    margin: 0 auto;
  }

  &.with_icon__ {
    &::after {
      content: url(../images/shapes//arrow_circle_left.svg);
      display: block;
    }
  }

  &.header_content_link__ {
    font-size: 14px;
    font-weight: 400;
    color: $headingMainColor;

    @include sm {
      font-size: 12px;
      justify-content: flex-start;
      gap: 5px;
    }

    @include xs {
      font-size: 10px;
      justify-content: flex-start;
      gap: 5px;
    }

    .icon__ {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: rgba($primaryColor, 0.13);
      padding: 7px;
      flex-shrink: 0;
    }

    &.number_link__ {
      direction: ltr;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &.header_nav_drop_down_link__ {
    font-size: 16px;
    font-weight: 400;
    color: $headingMainColor !important;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: flex-start;
    gap: 5px;
    padding: 7px 0 !important;

    &:hover {
      padding-inline-start: 10px !important;
      color: $secondaryColor !important;
    }

    &::before {
      content: '';
      width: 14px;
      height: 14px;
      background-color: transparent;
      border: 1px solid $primaryColor;
      border-radius: 50%;
    }
  }

  &.specialties_card_link__ {
    border: 1px solid $blackColor;
    height: 52px;
    color: $blackColor;
    font-size: 16px;
    font-weight: 700;

    &:hover {
      background-color: $blackColor;
      color: #fff;
    }
  }

  &.registration_requirements_link__ {
    background-color: #fff;
    border-radius: $secondaryBorderRadius;
    color: $primaryColor;
    height: 52px;
    width: calc(50% - 8px);
    margin-inline-start: auto;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 10;

    @include xs {
      width: 100%;
    }
    
    &::before {
      position: absolute;
      content: "";
      inset-inline-start: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $primaryColor;
      border-radius: $secondaryBorderRadius;
      width: 0%;
      height: 100%;
      z-index: -1;
      transition: 0.5s;
    }
    
    &:hover {
      background-color: transparent;
      color: #fff;
      
      .icon__ {
        filter: brightness(0)invert(1);
      }
      
      &::before {
        width: 100%;
        border: 1px solid #fff;
      }
    }
  }

  &.border_style_link__ {
    background-color: #fff;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    font-size: 14px;
    font-weight: 700;
    
    .icon__ {
      filter: unset !important;
    }

    &:hover {
      .icon__ {
        filter: brightness(0)invert(1) !important;
      }
    }
  }
  
  &.download_form_registration_link__ {
    font-size: 14px;
    font-weight: 700;
  }
}
