// main colors
$primaryColor: #0061B2;
$secondaryColor: #B7CB2C;
$thirdColor: #E49216;
$borderColor: #F2F2F2;
$mainShadowColor: 0 0 30px rgba(#000, 0.1);
$secondaryShadowColor: 0 0 60px rgba(#000, 0.06);
$blueColor: #00CFE6;
$blackColor: #272222;
$orangeColor: #E48403;
$greenColor: #17E25A;
$greyColor: #F3F3F3;
$secondGreyColor: #F7F7F7;
$placeholderColor: #848484;
$inputBorderColor: rgba($primaryColor , 0.2);




$thirdShadowColor: 0 0 60px rgba(#858585, 0.12);
$mainRedColor: #E40000;
$thirdGreyColor: #EBEBEB;
$fourthGreyColor: #BEBEBE;
$yellowColor: #FFA732;
$secondGreenColor: #3BAF00;
$thirdGreenColor: #4CD904;
$secondBlueColor: #0BA6E1;
$thirdBlueColor: #055CBF;
$linkBackgroundColor: #3C435C;
$searchBorderColor: rgba(#094271 , 0.1);
$primaryColorHover: rgba($primaryColor, 0.9);
$secondaryColorHover: rgba($secondaryColor, 0.9);
$secondRedColor: #E2114A;
$ratingIconBackground: #cbcbcb;


$secondBorderColor: #BBBBBB;
$redColor: #f54748;
$inputBackgroundColor: #f6f6f6;
$grid-columns: 12;
$grid-gutter-width: 30px;

// head colors
$headingMainColor: #272222;
$headingSecondaryColor: #8D8D8D;
$headingThirdColor: #2a2929;
$headingFourthColor: #737373;
$headingFifthColor: #818181;

//parag Colors
$paragraphMainColor: #646363;
$paragraphSecondaryColor: #797979;
$paragraphThirdColor: #707070;
$paragraphFourthColor: #a5a5a5;
$paragraphFifthColor: #6B6B6B;
$paragraphSixthColor: #9f9f9f;


$mainSectionTitleBackground: rgba(#3F4653 , 0.06);

//brand Colors
$twitterColor: #14171a;
$facebookColor: #1877f2;
$linkedinColor: #2279ef;
$snapChatColor: #fffc00;
$whatsapp: #075e54;
$instagramColor: #833ab4;

$borderBreakColor: #3F4653;

//border radius
$mainBorderRadius: 20px;
$secondaryBorderRadius: 26px;
$thirdBorderRadius: 31px;
$fourthBorderRadius: 40px;






$mainBackgroundColor: #F3F3F3;

$dir: "ltr";
