.contact_us_card__ {
  display: flex;
  align-items: center;
  background-color: rgba($primaryColor , 0.03);
  gap: 20px;
  padding: 20px;
  border-radius: $fourthBorderRadius;
  transition: 0.5s;
  
  .icon__ {
    width: 50px;
    height: 50px;
    background-color: rgba($primaryColor , 0.13);
    border-radius: 50%;
    padding: 14px;
    transition: 0.5s;
  }

  .title__ {
    font-size: 14px;
    font-weight: 400;
    color: $primaryColor;
  }

  .sub_title__ {
    font-size: 12px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin-bottom: 6px;
  }

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

  &:hover {
    text-decoration: none;
    background-color: rgba($primaryColor , 0.13);

    .icon__ {
      background-color: transparent;
    }
  }
}
