.course_card__ {
  display: flex;
  align-items: center;
  box-shadow: $secondaryShadowColor;
  border-radius: $thirdBorderRadius;
  padding: 45px 27px 20px;
  gap: 30px;

  @include xxs {
    flex-direction: column;
  }

  .img_wrapper__ {
    flex-shrink: 0;
    min-width: 138px;

    @include xxs {
      min-width: 100%;
    }
  }

  .figure__ {
    padding-bottom: 105.79%;
    border-radius: $mainBorderRadius;
    overflow: hidden;
  }

  .head_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .icon__ {
      border: 1px solid $primaryColor;
      border-radius: 50%;
      width: 29px;
      height: 29px;
      display: flex;
      align-self: center;
      justify-content: center;
      padding: 8px;
      filter: grayscale(1);
      transition: 0.5s;
      margin: 0 !important;

      @include dir {
        transform: rotate(180deg);
      }
    }
  }
  
  .title__ {
    font-size: 20px;
    font-weight: 700;
    color: $headingMainColor;
    margin: 0;
    transition: 0.5s;
  }

  .price__ {
    margin-bottom: 15px;
  }

  .parag__ {
    font-size: 12px;
    font-weight: 700;
    color: $paragraphThirdColor;
    margin: 0;
  }

  &:hover {
    .title__ {
      color: $primaryColor;
    }
    .icon__ {
      filter: unset;
      background-color: rgba($primaryColor, 0.17);
    }

    .img-om {
      transform: scale(1.1);
    }
  }
}