.section_head_wrapper__ {
  margin-bottom: 35px;

  @include xs {
    margin-bottom: 20px;
  }

  .section_header {
    margin: 0;
  }

  &.with_tabs_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xs {
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
    }

    .page_title__ {
      @include xs {
        font-size: 25px;
      }
    }
  }
  
  &.with_icon__ {
    display: flex;
    align-items: center;

    .icon__ {
      margin: 0;
      max-width: 110px;
      max-height: 91px;
      margin-inline-end: 30px;

      &.civil_tech_page_icon__ {
        max-width: 124px;
        max-height: 124px;
        border-radius: 50%;
        background-color: rgba($blueColor, 0.1);
        padding: 25px;
        
        @include xs {
          max-width: 74px;
          max-height: 74px;
          padding: 10px;
        }
      }
    }
  }

  &.center {
    justify-content: center;
  }

  &.none_margin__ {
    margin: 0 !important;
  }
}

.section_header {
  margin-bottom: 44px;

  @include sm {
    margin-bottom: 20px;
  }

  @include xs {
    margin-bottom: 15px;

    .site_head__,
    .site_head_sub_title__ {
      text-align: center;
    }
  }

  &.center__ {
    .section_main_title__,
    .section_main_sub_title___ {
      text-align: center;
    }

    .site_head__ {
      margin-bottom: 12px;
    }
  }

  &.center_xs__ {
    @include xs {
      .section_main_title__,
      .section_main_sub_title___ {
        text-align: center;
      }
    }
  }

  &.white_color {
    .site_head__,
    .site_head_sub_title__ {
      color: #fff;
    }
  }
}

.section_main_title__ {
  font-size: 30px;
  font-weight: 800;
  color: $headingMainColor;
  margin-bottom: 14px;

  @include sm {
    font-size: 22px;
  }

  @include xs {
    font-size: 18px;
  }
}

.section_main_sub_title___ {
  font-size: 20px;
  font-weight: 400;
  color: $paragraphMainColor;
  margin: 0;

  @include sm {
    font-size: 16px;
  }
  
  @include xs {
    font-size: 13px;
  }
}

.main_section_title {
  font-size: 14px;
  font-weight: 500;
  color: $headingMainColor;
  text-transform: capitalize;
  padding: 15px 26px;
  background-color: $mainSectionTitleBackground;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 8px;
    height: 100%;
    background-color: rgba($secondaryColor, 0.13);
  }
}

.link_arrow_wrapper {
  display: flex;
  align-items: center;
  gap: 30px;

  @include xs {
    flex-direction: column;
    gap: 20px;
  }
}

// ######################## Page Title ########################
.page_head_wrapper {
  margin-bottom: 40px;
  
  @include sm {
    margin-bottom: 30px;
  }
  
  @include xs {
    margin-bottom: 15px;
  }

  &.center__ {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    .page_main_title__,
    .page_sub_title__ {
      text-align: center;
    }
  }

  &.flex_display {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.with_gap__ {
    gap: 35px;
  }

  &.with_icon__ {
    justify-content: unset;
    // gap: 10px;

    .icon__ {
      margin: 0;
      max-width: 72px;
      max-height: 72px;
      margin-inline-end: 20px;

    }
  }

  &.small_size_dir_column {
    @include sm {
      gap: 20px;
      flex-direction: column !important;
    }
  }
  
  &.small_size_center__ {
    @include sm {
      .page_main_title__,
      .page_sub_title__ {
        text-align: center;
      }
    }
  }

  &.none_margin__ {
    margin: 0 !important;
  }
}

.title_icon_wrapper__ {
  display: flex;
  align-items: center;
  gap: 10px;
}

.page_main_title__ {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: start;
  margin: 0;
  color: $headingMainColor;
  margin-bottom: 10px;
  
  @include xs {
    font-size: 16px;
  }
}

.page_sub_title__ {
  font-size: 17px;
  font-weight: 400;
  color: $paragraphMainColor;
  margin: 0;
}
// ######################## section block title ########################
.section_block_title{
  font-size: 16px;
  font-weight: 800;
  color: $secondaryColor;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.section_block_sub_title__ {
  color: $paragraphSecondaryColor;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}