.offers_card__ {
  padding: 22px 20px 42px;
  display: flex;
  flex-direction: column;
  box-shadow: $mainShadowColor;
  border-radius: $thirdBorderRadius;
  background-color: #fff;

  .figure__ {
    padding-bottom: 84.3949%;
    flex-grow: 1;
    margin-bottom: 15px;
    overflow: hidden;
  }
  
  .title__ {
    font-size: 20px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 15px;
    transition: 0.5s;

    @include xs {
      font-size: 16px;
    }
  }

  .price_wrapper__ {
    display: flex;
    align-items: center;
    gap: 20px;

    @include xs {
      gap: 10px;
    }
  }

  &:hover {
    .title__{
      color: $primaryColor;
    }

    .img-om {
      transform: scale(1.1);
    }
  }
}