.opinion_card__ {
  border-radius: $thirdBorderRadius;
  box-shadow: $secondaryShadowColor;
  padding: 30px 27px;

  .head__ {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 15px;
  }

  .figure__ {
    width: 72px;
    height: 72px;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
  }

  .title__ {
    font-size: 20px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 5px;
  }

  .time__ {
    font-size: 14px;
    font-weight: 400;
    color: $paragraphMainColor;
    display: flex;
    align-items: center;
    gap: 5px;

    &::before {
      content: url(../images/shapes/opinion_card_time_icon__.svg);
    }
  }

  .parag__ {
    font-size: 14px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
  }
}