.our_message_and_vision_card__ {
  .title__ {
    background-color: rgba($primaryColor , 0.08);
    border-radius: $thirdBorderRadius;
    padding: 15px 30px;
    width: fit-content;
    margin-inline-start: 35px;
    position: relative;
    font-size: 18px;
    font-weight: 800;
    color: $primaryColor;
    display: flex;
    align-self: center;
    gap: 7px;
    margin-bottom: 30px;

    @include sm {
      margin-bottom: 20px;
    }

    @include xs {
      gap: 15px;
      margin-bottom: 10px;
      font-size: 16px;
    }
    
    &::after {
      content: url(../images/shapes/our_message_and_vision_card_title_.svg);
      position: absolute;
      top: 50%;
      // transform: translateY(-50%);
      inset-inline-end: 100%;
      z-index: -1;
    }

    
  }

  .content_wrapper__ {
    background-color: $secondGreyColor;
    padding: 31px 20px;
    border-radius: $mainBorderRadius;
  }

  .parag_head__ {
    font-size: 14px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 18px;
  }
  
  .parag__ {
    font-size: 14px !important;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
  }
}