.registration_requirements_text__ {
  padding: 20px 22px;
  padding-inline-start: 33px;
  background-color: rgba(#fff, 0.12);
  border-radius: $secondaryBorderRadius;
  position: relative;

  .title__ {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 2;
    transition: 0.5s;
  }
  
  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #fff;
    border-radius: $mainBorderRadius;
    inset-inline-start: 22px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
  }

  &.second_text_style__ {
    background-color: rgba($thirdColor , 0.05);
    height: 46px;
    display: flex;
    align-items: center;

    .title__ {
      font-size: 14px;
      font-weight: 400;
      color: $thirdColor;
      word-wrap: break-word;
    }

    &::before {
      background-color: $thirdColor !important;
    }

    &:hover {
      .title__ {
        color: #fff;
      }
    }


  }

  &:hover {
    &::before {
      width: 100%;
      height: 100%;
      inset-inline-start: 0;
      z-index: 1;
    }

    .title__ {
      color: $primaryColor;
    }
  }
}