.search_section {
  position: absolute;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0 !important;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  
  .button__ {
    color: #fff;
    font-size: 30px;
  }

  .close_search_btn {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    text-align: center;
    width: 100%;
    z-index: 1001;
  }

  .search_section_content {
    position: relative;
    z-index: 1001;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #fff;
    width: 800px;
    margin-top: -200px;
    transition: 0.5s;

    @include  sm {
      width: 100%;
    }
  }
  

  .input__ {
    color: #fff;
    padding: 0;
    font-size: 25px;

    &::placeholder {
      color: #fff;
      font-size: 25px;
    }
  }
  
  .overlay__ {
    background-color: rgba($primaryColor, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  &.active {
    visibility: visible;
    opacity: 1 !important;


    .search_section_content {
      margin: 0;
    }
  }
}