.section_block_wrapper__ {
  position: relative;

  .block_title__ {
    color: $primaryColor;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    width: fit-content;
    transition: 0.7s;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 3px;
      background-color: $primaryColor;
      inset-inline-start: 0;
      top: 0;
      z-index: -1;
      transition: 0.5s;
    }
  }

  .block_content__ {
    padding: 0 15px;
  }

  &.training_goals_block__ {
    .block_content__ {
      display: grid;
      grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
      gap: 20px;
    }
    
    .content_point__ {
      font-size: 14px;
      font-weight: 400;
      color: $headingMainColor;
      margin: 0;

      &::before {
        content: url(../images/shapes/training_goals_block_content_point__.svg);
        margin-inline-end: 12px;
      }
    }
  }

  &.fields_of_work_after_graduation__ {
    .block_content__ {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;

      .registration_requirements_text__ {
        width: calc(100% / 3 - 15px);

        @include sm {
          width: calc(50% - 10px);
        }

        @include xs {
          width: 100%;
        }
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: rgba($primaryColor, 0.08);
    inset-inline-start: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s;
  }
}
