.specialties_card {
  border-radius: $thirdBorderRadius;
  padding: 46px 14px 30px;
  box-shadow: $secondaryShadowColor;
  display: flex;
  flex-direction: column;
  
  .icon__ {
    width: 92px;
    height: 92px;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title__ {
    font-size: 20px;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 10px;
    transition: 0.5s;
  }
  
  .parag__ {
    font-size: 12px;
    font-weight: 300;
    color: $paragraphThirdColor;
    line-height: 18px;
    margin-bottom: 25px;
  }
  
  &.blue_color__ {
    .icon__ {
      background-color: rgba($blueColor ,0.1);
    }
  }
  
  &.orange_color__ {
    .icon__ {
      background-color: rgba($orangeColor ,0.1);
    }
  }
  
  &.green_color__ {
    .icon__ {
      background-color: rgba($greenColor ,0.1);
    }
  }

  &:hover {
    .title__ {
      color: $primaryColor;
    }
  }
}