.time_block__ {
  display: flex;
  align-items: center;
  gap: 15px;

  .text__ {
    display: block;
  }

  .title__ {
    font-size: 12px;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 5px;
  }

  .info__ {
    font-size: 14px;
    font-weight: 700;
    color: $headingMainColor;
  }

  &.end_date__ {
    .info__ {
      color: $mainRedColor;
    }
  }
}